@import "bootstrap/mixins.less";


.top-line{
	background-color: #1a1a18;
	@media screen and (max-width:991px) {
		background: url("../img/pattern.png") 0 0 repeat;
	}

	&__inner{
		//.make-row();
		.clearfix();
	}
}

.logo__wrap{
	.make-xs-column(12);
	.make-sm-column(12);
	.make-md-column(2);
	
	text-align: right;
	background: url("../img/pattern.png") 0 0 repeat;
	position: relative;
	padding: 10px;
	//padding-right: 15px;
	z-index: 10;

	@media screen and (max-width:991px){
		padding-bottom: 1px;
		padding-top: 0;
		text-align: left;
		padding-left: 15px;
		.make-row();
	}

	&::before{
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 900px;
		background: url("../img/pattern.png") 0 0 repeat;
		z-index: -1;
	}
}

.logo__link{
	padding-right: 25px;
}

.logo__img{
	
	width: 100%;
	height: auto;
	z-index: 10;
	
	@media screen and(max-width:991px){
		width: 50%;
		padding-top: 10px;
	}
	
}
